
  h1 {
    color: blue;
  }
  p {
    color: red;
  }


    /**************** Fonts  ****************/
    /*
    - Roboto Slab
    
    
    
    */


  /**************** Navbar ****************/

.profile-menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 11px;
  border-width: 1.5px;

}
 


.user-info{

  display:flex;
  text-align: center;

}

.navbar-brandName{

position:absolute;
left:40%;
transform:translateX(-50%);


}

   
  #navName{
    text-align: center!important;

  }

  #Colored{
   
    border-bottom: 5px solid #5FB96A;
  
  }

  #Logo{
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  padding-left: 265px;
    color: black;

  }

  /**************** What is your destination ****************/
.destination-text{
font-size: 45px;
font-family: "Roboto Slab", serif;
color:rgb(84, 76, 78);
/* padding: -00px 0 34px; */
margin-top: -20px;
z-index: -1!important;
}


/*This is the Sign-Up*/
.signupbox{
  width: 360px;
  height: 620px;
  margin: auto;
  border-radius: 3px;
}
h1{
  text-align:center;
  padding-top: 15px;
}
h4{
  text-align:center;
}
form{
  width: 300px;
  margin-left: 20px
}
form label{
  display: flex;
  margin-top:20px;
  font-size: 18px;
}
form inout{
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid grey;
  border-radius: 6px;
  outline: none;
}
input[type="button"]{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #5FB96A;
  color: white;
  font-size: 18px;
}

p{
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
