
  h1 {
    color: blue;
  }
  p {
    color: red;
  }


    /**************** Fonts  ****************/
    /*
    - Roboto Slab
    
    
    
    */


  /**************** Navbar ****************/


   
  #navName{
    text-align: center!important;

  }

  #Colored{
   
    border-bottom: 5px solid #5FB96A;
  
  }

  #Logo{
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  padding-left: 265px;
    color: black;

  }

  /**************** What is your destination ****************/
.destination-text{
font-size: 45px;
font-family: "Roboto Slab", serif;
color:rgb(84, 76, 78);
/* padding: -00px 0 34px; */
margin-top: -20px;
z-index: -1!important;

}



/* green box*/
#rcorners1{
border-radius: 7px;
background: #5FB96A;
padding: 20px;
width: 200px;
height: 150px;
}

/* 2nd green box*/
#rcorners2{
  border-radius: 7px;
  background: #368b40;
  padding: 20px;
  width: 200px;
  height: 150px;
  }


