body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

  .container{
    display: flex;
    height: 90vh;
}
.box{
    width: 500px;
    height: 500px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(107, 51%, 47%);

}
#box2{
    background-color: hsl(123, 84%, 40%);
}
